<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">

<head>
  <!-- Required meta tags -->
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

  <!-- Bootstrap CSS -->
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"/>
  <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

  <title>iKiosk</title>
</head>

<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<!-- Header with logo an date -->
<div class="container-md">
  <div class="row">
    <div class="col-7">
      <img src="/logo_besven_group_weiss-orange.png" title="logo" alt="logo"/>
    </div>
    <div class="col-2">
      <p th:text="${#dates.format(currentDate, 'dd.MMM yyyy HH:mm')}"></p>
    </div>
  </div>
</div>

<!-- Userbar with name of the user, their credit and buttons -->
<div class="container-md">
  <div class="row">
    <div class="col-6">
      <h1 th:text="'Hallo ' + ${user.firstName}"/>

      <!-- The message should deliver the user-credit -->
      <p th:text="'Dein aktuelles Guthaben beträgt: ' + ${userCredit}"/>
    </div>
    <div class="col">

      <!-- User with adminflag get an button for reach an admin-area -->
      <a href="#"
         th:if="${user.admin == true}"
         type="button"
         class="btn btn-default"
         th:text="Administration"
         th:href="@{/admin(uuid=${user.uuid})}"/>
      <a href="#" th:if="${user.admin == false}" hidden="hidden"/>

      <!-- Button to reach the transaction-history -->
      <a href="#"
         type="button"
         class="btn btn-default"
         th:text="Bestellhistorie"
         th:href="@{/transactions/(userUuid=${user.uuid})}"/>

      <!-- Logout-button -->
      <a href="#"
         type="button"
         class="btn btn-danger"
         th:text="Abmelden"
         th:href="@{/logout}"/>
    </div>
  </div>
</div>

<!-- Mainarea with products as buttons    -->
<!-- This is the landingpage for logged users -->
<div class="container-md">
  <p>Bitte wähle ein Produkt</p>
  <div class="row">
    <div class="col-6 col-md-3" th:each="product : ${products}">

      <!-- Every product in database get their own button -->
      <a class="btn btn-light"
         th:text="${product.productName}"
         type="button"
         th:href="@{/kiosk/(userUuid=${user.uuid},productUuid=${product.uuid})}"/>
    </div>
  </div>
</div>

<!-- Conclusion-area with overview of selected product and number-selector -->
<th:block th:if="${product}">
  <div th:replace="fragments/conclusion :: conclusion(${product})"></div>
</th:block>
<!-- If no product is selected, the conclusion-area is empty -->
<th:block th:unless="${product == NULL}">
  <div th:replace="fragments/conclusion :: fazit"></div>
</th:block>


<!-- Footer -->
<div class="container-md">
  <div class="row">
    <p>©2020 besven Group GmbH & Co. KG
  </div>
</div>

</body>
</html>